<div class="row">
    <div class="col-3"></div>
    <div class="col-5 mx-4 mt-5">

        <h2 class="text-center">الوجبات </h2>
        <div class="text-input">
            <input type="text" id="input1" disabled placeholder="Try typing something in here!" value="1Egg + 1cup Milk">
            <label class="input1">فطار </label>
        </div>

        <div class="text-input">
            <input type="text" id="input1" disabled placeholder="Try typing something in here!" value="1Egg + 1cup Coffe">
            <label class="input1">&nbsp;&nbsp;غداء&nbsp;</label>
        </div>

        <div class="text-input">
            <input type="text" id="input1"disabled placeholder="Try typing something in here!" value="Meat + 1cup Milk">
            <label class="input1">&nbsp;&nbsp;عشاء&nbsp;&nbsp;</label>
        </div>

    </div>
    <div class="col mx-4 mt-5">
       <button class="btn ">تعديل</button>
    </div>

</div>