
<div class="row mt-4" style="text-align: center;">
  <span class="fw-bold fs-4">الخطط</span>

  </div>
  <div class="row ">
    <div class="col-9"></div>
    <button routerLink="/doctor/dash/AddPlan" class="btn btn-primary col-2 mb-3">أضافة خطة</button>
  
  
  </div>
  <div class="row mt-2 mx-4 plans flex-wrap">
    <div class=" col-sm-12 col-md-4 text-center">
  
      <div class="animate__animated animate bounce card " >
        <div class="container p- ">
          <img  src="assets/plans.jpg" class="card-img-top p-3" alt="..." ></div>
          <div class="card-body">
          <h4 class="card-title ms-1">Plan 1</h4>
          <p class="card-text mb-5 ms-1">See more bootstrap code snippets on my website</p>
      
          <a href="https://freesnippetcode.blogspot.com/" target="_blank" class="btn btn-primary mb-1 mt-1 ">Details</a>
        </div>
      </div>
        </div>
        <div class=" col-sm-12 col-md-4 text-center">
  
          <div class="animate__animated animate bounce card " >
            <div class="container p- ">
              <img  src="assets/plans.jpg" class="card-img-top p-3" alt="..." ></div>
              <div class="card-body">
              <h4 class="card-title ms-1">Plan 1</h4>
              <p class="card-text mb-5 ms-1">See more bootstrap code snippets on my website</p>
          
              <a href="https://freesnippetcode.blogspot.com/" target="_blank" class="btn btn-primary mb-1 mt-1 ">Details</a>
            </div>
          </div>
            </div>
            <div class=" col-sm-12 col-md-4 text-center">
  
              <div class="animate__animated animate bounce card " >
                <div class="container p- ">
                  <img  src="assets/plans.jpg" class="card-img-top p-3" alt="..." ></div>
                  <div class="card-body">
                  <h4 class="card-title ms-1">Plan 1</h4>
                  <p class="card-text mb-5 ms-1">See more bootstrap code snippets on my website</p>
              
                  <a href="https://freesnippetcode.blogspot.com/" target="_blank" class="btn btn-primary mb-1 mt-1 ">Details</a>
                </div>
              </div>
                </div>
                <div class=" col-sm-12 col-md-4 text-center">
  
                  <div class="animate__animated animate bounce card " >
                    <div class="container p- ">
                      <img  src="assets/plans.jpg" class="card-img-top p-3" alt="..." ></div>
                      <div class="card-body">
                      <h4 class="card-title ms-1">Plan 1</h4>
                      <p class="card-text mb-5 ms-1">See more bootstrap code snippets on my website</p>
                  
                      <a href="https://freesnippetcode.blogspot.com/" target="_blank" class="btn btn-primary mb-1 mt-1 ">Details</a>
                    </div>
                  </div>
                    </div>
                    <div class=" col-sm-12 col-md-4 text-center">
  
                      <div class="animate__animated animate bounce card " >
                        <div class="container p- ">
                          <img  src="assets/plans.jpg" class="card-img-top p-3" alt="..." ></div>
                          <div class="card-body">
                          <h4 class="card-title ms-1">Plan 1</h4>
                          <p class="card-text mb-5 ms-1">See more bootstrap code snippets on my website</p>
                      
                          <a href="https://freesnippetcode.blogspot.com/" target="_blank" class="btn btn-primary mb-1 mt-1 ">Details</a>
                        </div>
                      </div>
                        </div>
                        
      
                        
              
   
  </div>