<div class="row mb-4">
<div class="sidebar col-2 ">
    <header class="sidebar_header " style="text-align: center;">
        <button>
            <span>
                <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYzAqKERFeE4h-K3vnOWQSWJmxRTKTApVjEg&usqp=CAU">
                <span>Ahmed Mahmoud</span>
            </span>
        </button> 
    </header>


    <nav class="sidebar_menu">
        <button routerLink="Welcome">
            <span>
                <i class="fa-solid fa-heart-pulse"></i>
                <span>الرئيسية</span>
            </span>
        </button>
        <button routerLink="Plans">
            <span>
                <i class="fa-solid fa-list-check"></i>
                <span>الخطط</span>
            </span>
        </button>
        <button routerLink="meals">
            <span>
                <i class="fa-solid fa-bowl-food"></i>
                <span>الوجبات</span>
            </span>
        </button>


        <button routerLink="Patients">
            <span>
                <i class="fa-solid fa-bowl-food"></i>
                <span>المتابعة</span>
            </span>
        </button>

        <button routerLink="Subscrebtion">
            <span>
                <i class="fa-solid fa-bowl-food"></i>
                <span>الاشتراكات</span>
            </span>
        </button>

    </nav>
</div>
<div class="col-10">
    <router-outlet>

    </router-outlet>
</div>
</div>