.nav-item .active{
    background-color: #1C4980;
    color: aliceblue;
}

  .details-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .details-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .details-item {
 }

  .details-label {
    display: inline-block;
    width: 80px;
    font-weight: bold;
  }

  .details-value {
    display: inline-block;
  }
.card-body{
  
  overflow-y: hidden; /* Disable horizontal scroll */

}
.row{
  height: 100vh;
}
