<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col" *ngFor="let patient of PatientList">
          <div class="profile-card-4 card h-100 text-center w-75" >
              <img src='data:image/png;base64,{{patient.profileImage}}' class="img" style="height: 200px;" >
              <div class="profile-content">
                  <div class="profile-name">{{patient.fullName}}</div> 
                  <h4 class="card-title text-start " ><i class="fa-solid fa-link px-2 " >
                  </i><a class="link-underline-primary">{{patient.email}}</a></h4>
                  <h4 class="card-title text-start " ><i class="fa-solid fa-phone px-2"></i>
                      {{patient.phoneNumber}}</h4>
                   <div class="text-start">
                      <i class="fa-solid fa-bullseye px-2"></i>
                      <button type="button" *ngFor="let item of patient.goal" class="btn btn-outline-dark me-3" disabled>
                          {{item.name}}</button>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>