<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-3 pb-3">
            <div class="row">
                <div class="col-xl-3 col-md-3 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>الموقع</h4>
                            <span>الشرقيه بلبيس شارع أبوبكر الصديق</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>تواصل معنا</h4>
                            <span>٠١٢٠٣٢٣٢٩٤٨</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>البريد الالكترونى</h4>
                            <span>DrAsmaa@gmail.com</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 mb-30">
                    <div class="single-cta">
                        <i class="fa-regular fa-newspaper"></i>
                    <div class="cta-text">
                        <h4>حقوق الطباعة والنشر</h4>
                        <span><small>&copy;Copy-Right 2023</small></span>
                                      </div>
                   </div>
                </div>
            </div>
        </div>
      
    </div>
  
</footer>