<!-- <section class="h-100">
    <div class="container-fluid h-100 py-5">
        <div class="card shopping-cart" style="border-radius: 15px;">
            <div class="card-body text-black">
                <div class="ml-2 row">
                        <form class=" g-2 mt-4 ">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group row mb-3">
                                        <label for="datetimePicker" class="col-sm-2 col-form-label">DateFrom</label>
                                        <div class="col-sm-10">
                                            <input type="date" class="form-control" id="datetimePicker"
                                                formControlName="datetime" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group row mb-3">
                                        <label for="datetimePicker" class="col-sm-2 col-form-label">DateTo</label>
                                        <div class="col-sm-10">
                                            <input type="date" class="form-control" id="datetimePicker"
                                                formControlName="datetime" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group row mb-3">
                                        <label for="caloriesFrom" class="col-sm-2 col-form-label">CaloriesFrom</label>
                                        <div class="col-sm-10">
                                            <input type="number" class="form-control" id="caloriesFrom"
                                            placeholder="CaloriesFrom"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group row mb-3">
                                        <label for="caloriesTo" class="col-sm-2 col-form-label">CaloriesTo</label>
                                        <div class="col-sm-10">
                                            <input type="number" class="form-control" id="caloriesTo"
                                               />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group row mb-3">
                                        <label for="caloriesFrom" class="col-sm-1 col-form-label">Duration</label>
                                        <div class="col-sm-10">
                                            <input type="number" class="form-control" id="caloriesFrom"
                                             />
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="col-sm-10 " style="text-align: center;">
                                            <button type="submit" class="btn btn-info " style="width: 100px;">ADD</button>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="col-sm-10 " style="text-align: center;">
                                            <button type="submit" class="btn btn-info " routerLink="/doctor/dash/AddDay" style="width: 100px;">Day +</button>
                                        </div>
                                    </div>
                                </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>


</section> -->


<div class="card" style="direction: rtl;">
    <div class="card-body ">
     
      <ul class="nav nav-tabs custom-tabs">

        <li class="nav-item" style="display: none;">
          <button class="nav-link active"  data-bs-toggle="tab" data-bs-target="#addPlan"> + أضافه خطه</button>
        </li>

        <li class="nav-item">
          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#addDay">+ أضافه يوم </button>
        </li>

      </ul>
      
      <div class="tab-content pt-2">

        <div class="tab-pane fade show active profile-overview" id="addPlan">
            <section class="h-100">
                <div class="container-fluid h-100 py-5">
                    <div class="card shopping-cart" style="border-radius: 15px;">
                        <div class="card-body text-black">
                            <div class="ml-2 row">
                                    <form class=" g-2 mt-4 ">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group row mb-3">
                                                    <label for="datetimePicker" class="col-sm-2 col-form-label">DateFrom</label>
                                                    <div class="col-sm-10">
                                                        <input type="date" class="form-control" id="datetimePicker"
                                                            formControlName="datetime" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group row mb-3">
                                                    <label for="datetimePicker" class="col-sm-2 col-form-label">DateTo</label>
                                                    <div class="col-sm-10">
                                                        <input type="date" class="form-control" id="datetimePicker"
                                                            formControlName="datetime" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group row mb-3">
                                                    <label for="caloriesFrom" class="col-sm-2 col-form-label">CaloriesFrom</label>
                                                    <div class="col-sm-10">
                                                        <input type="number" class="form-control" id="caloriesFrom"
                                                        placeholder="CaloriesFrom"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group row mb-3">
                                                    <label for="caloriesTo" class="col-sm-2 col-form-label">CaloriesTo</label>
                                                    <div class="col-sm-10">
                                                        <input type="number" class="form-control" id="caloriesTo"
                                                           />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group row mb-3">
                                                    <label for="caloriesFrom" class="col-sm-1 col-form-label">Duration</label>
                                                    <div class="col-sm-10">
                                                        <input type="number" class="form-control" id="caloriesFrom"
                                                         />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="col-sm-10 " style="text-align: center;">
                                                        <button type="submit" class="btn btn-info " style="width: 100px;">ADD</button>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="col-sm-10 " style="text-align: center;">
                                                        <li class="nav-item">

                                                        <button  class="nav-link" data-bs-target="#addDay" type="submit" class="btn btn-info " style="width: 100px;">Day +</button>
                                                        </li>
                                                    </div>
                                                </div>
                                            </div>
                                    </form>
            
                                </div>
                            </div>
                        </div>
                    </div>
            
            
            </section>
         
          </div>

        </div>

     

        <div class="tab-pane fade profile-settings" id="addDay" style="direction: ltr;">
          

            <div class="row">
                <div class="col mx-4 mt-5">
            
                    <h2 class="text-center">Meals </h2>
                    <div class="text-input">
                        <input type="text" id="input1" placeholder="Try typing something in here!">
                        <label class="input1" id="lable1"> </label>
                    </div>
            
                    <div class="text-input">
                        <input type="text" id="input2" placeholder="Try typing something in here!">
                        <label class="input2" id="lable2"></label>
                    </div>
            
                    <div class="text-input">
                        <input type="text" id="input3" placeholder="Try typing something in here!">
                        <label class="input3" id="lable3"></label>
                    </div>
            
                </div>
                <div class="col mx-4 mt-5">
                    <select name="catogry" (change)="ChangeCatigory()" id="catogry">
            
                        <option selected disabled value="JLC">التصنيف</option>
                        <option value="JLC">الإفطار</option>
                        <option value="Zenith">الغداء</option>
                        <option value="Cartier">العشاء</option>
            
                    </select>
                    <select name="Meals"  id="Meals">
            
                        <option selected disabled value="JLC">تحديد الوجبة</option>
                        <option *ngFor="let item of Meals" value="JLC">{{item}}</option>
            
                    </select>
            
                    <select name="All Meals" (change)="AddMealToText()"  id="AllMeals">
            
                        <option selected disabled value="JLC">اختار الكلمات المساعدة</option>
                        <option *ngFor="let item of SubMeals" value="JLC">{{item}}</option>
            
                    </select>
                </div>
            
            </div>


        </div>


       

     

      </div>
    </div>
