<!-- <section class="h-100">
    <div class="container-fluid h-100 py-5">
        <div class="card shopping-cart" style="border-radius: 15px;">
            <div class="card-body text-black">
                <div class="ml-2 row">
                        <form class=" g-2 mt-4 ">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group row mb-3">
                                        <label for="datetimePicker" class="col-sm-2 col-form-label">DateFrom</label>
                                        <div class="col-sm-10">
                                            <input type="date" class="form-control" id="datetimePicker"
                                                formControlName="datetime" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group row mb-3">
                                        <label for="datetimePicker" class="col-sm-2 col-form-label">DateTo</label>
                                        <div class="col-sm-10">
                                            <input type="date" class="form-control" id="datetimePicker"
                                                formControlName="datetime" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group row mb-3">
                                        <label for="caloriesFrom" class="col-sm-2 col-form-label">CaloriesFrom</label>
                                        <div class="col-sm-10">
                                            <input type="number" class="form-control" id="caloriesFrom"
                                            placeholder="CaloriesFrom"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group row mb-3">
                                        <label for="caloriesTo" class="col-sm-2 col-form-label">CaloriesTo</label>
                                        <div class="col-sm-10">
                                            <input type="number" class="form-control" id="caloriesTo"
                                               />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group row mb-3">
                                        <label for="caloriesFrom" class="col-sm-1 col-form-label">Duration</label>
                                        <div class="col-sm-10">
                                            <input type="number" class="form-control" id="caloriesFrom"
                                             />
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="col-sm-10 " style="text-align: center;">
                                            <button type="submit" class="btn btn-info " style="width: 100px;">ADD</button>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="col-sm-10 " style="text-align: center;">
                                            <button type="submit" class="btn btn-info " routerLink="/doctor/dash/AddDay" style="width: 100px;">Day +</button>
                                        </div>
                                    </div>
                                </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>


</section> -->


<div class="card" style="direction: rtl;">
    <div class="card-body ">

        <ul class="nav nav-tabs custom-tabs">

            <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#addPlan"
                    style="background-color: blue; color: aliceblue;"> + أضافه خطه</button>
            </li>

            <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#addDay"
                    style="background-color: blue; color: aliceblue;">+ أضافه يوم </button>
            </li>

        </ul>

        <div class="tab-content pt-2">

            <div class="tab-pane fade show active profile-overview" id="addPlan">
                <section class="h-100">
                    <div class="container-fluid h-100 py-5">
                        <div class="card shopping-cart" style="border-radius: 15px;">
                            <div class="card-body text-black">
                                <div class="ml-2 row">
                                    <form class=" g-2 mt-4 " [formGroup]="PlanForm" (ngSubmit)="addPlan(PlanForm)">

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row mb-3">
                                                    <label for="caloriesFrom"
                                                        class="col-sm-2 col-form-label">CaloriesFrom</label>
                                                    <div class="col-sm-10">
                                                        <input type="number" class="form-control" id="caloriesFrom"
                                                            formControlName="CaloriesFrom" />
                                                    </div>
                                                </div>
                                                <div *ngIf="CaloriesFrom?.errors != null && CaloriesFrom?.touched">
                                                    <p *ngIf="CaloriesFrom?.errors?.['required']" class="text-danger">
                                                        يجب ادخال
                                                    </p>
                                                  

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row mb-3">
                                                    <label for="caloriesTo"
                                                        class="col-sm-2 col-form-label">CaloriesTo</label>
                                                    <div class="col-sm-10">
                                                        <input type="number" class="form-control" id="caloriesTo"
                                                            formControlName="CaloriesTO" />
                                                    </div>

                                                    <div *ngIf="CaloriesTO?.errors != null && CaloriesTO?.touched">
                                                        <p *ngIf="CaloriesTO?.errors?.['required']" class="text-danger">
                                                            يجب ادخال
                                                        </p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group row mb-3">
                                                    <label for="duration"
                                                        class="col-sm-1 col-form-label">Duration</label>
                                                    <div class="col-sm-10">
                                                        <input type="number" class="form-control" id="duration"
                                                            formControlName="duration" />
                                                    </div>
                                                </div>

                                                <div *ngIf="duration?.errors != null && duration?.touched">
                                                    <p *ngIf="duration?.errors?.['required']" class="text-danger">
                                                        يجب ادخال
                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row " style="text-align: center;">
                                            <div class="col">
                                                <div class="col-sm-10 " style="text-align: center;">
                                                    <button type="submit" class="btn btn-info "
                                                        style="width: 100px;">ADD</button>
                                                </div>
                                            </div>
                                            <!-- <div class="col">
                                                    <div class="col-sm-10 " style="text-align: center;">
                                                        <li class="nav-item">

                                                        <button  class="nav-link"  type="submit" class="btn btn-info " style="width: 100px;">Day +</button>
                                                        </li>
                                                    </div>
                                                </div> -->
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>


                </section>

            </div>

        </div>



        <div class="tab-pane fade profile-settings" id="addDay" style="direction: ltr;">


            <div class="row text-center">
                <h2 class="text-center">Meals </h2>
                <form [formGroup]="MealForm" (ngSubmit)="AddMeal(MealForm)" class="text-center">

                    <div class="col-md-6  mt-3">
                        <select name="catogry" (change)="ChangeCatigory()" id="catogry">

                            <option selected disabled value="JLC">التصنيف</option>
                            <option value="0">الإفطار</option>
                            <option value="1">الغداء</option>
                            <option value="2">العشاء</option>
                            <option value="3">السحور</option>
                            <option value="4">سناكس</option>

                        </select>
                        <select name="Meals" id="Meals">

                            <option selected disabled value="JLC">تحديد الوجبة</option>
                            <option *ngFor="let item of Meals" value="JLC">{{item}}</option>

                        </select>

                        <select name="All Meals" (change)="AddMealToText()" id="AllMeals">

                            <option selected disabled value="JLC">اختار الكلمات المساعدة</option>
                            <option *ngFor="let item of SubMeals" value="JLC">{{item}}</option>

                        </select>
                    </div>
                    <div class="col-md-6 mt-5 text-center">


                        <div class="text-input">
                            <input type="text" id="input1" formControlName="Basic" placeholder="الوجبه الاساسيه"
                                style="text-align: center;">
                            <label class="input1 mx-5" id="lable1"> </label>


                            <div *ngIf="Basic?.errors != null && Basic?.touched">
                                <p *ngIf="Basic?.errors?.['required']" class="text-danger">
                                    يجب ادخال
                                </p>

                            </div>
                        </div>

                        <div class="text-input">
                            <input type="text" id="input2" formControlName="substitute1" placeholder="الوجبه البديله 1"
                                style="text-align: center;">
                            <label class="input2 mx-5" id="lable2"></label>

                            <div *ngIf="substitute1?.errors != null && substitute1?.touched">
                                <p *ngIf="substitute1?.errors?.['required']" class="text-danger">
                                    يجب ادخال
                                </p>

                            </div>
                        </div>

                        <div class="text-input">
                            <input type="text" id="input3" formControlName="substitute2" placeholder="الوجبه البديله 2"
                                style="text-align: center;">
                            <label class="input3 mx-5" id="lable3"></label>


                            <div *ngIf="substitute2?.errors != null && substitute2?.touched">
                                <p *ngIf="substitute2?.errors?.['required']" class="text-danger">
                                    يجب ادخال
                                </p>

                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" class="btn my-4"  >
                                اضافه
                            </button>
                        </div>
                    </div>


                </form>
            </div>


        </div>






    </div>
</div>